@font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 1.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 10.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 11.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 12.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 13.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 14.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 2.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 3.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 4.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 5.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 6.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 7.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 8.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT 9.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('/fonts/bahnschrift/BAHNSCHRIFT.woff') format('woff');
    }